set default=0
set timeout=5
#set timeout_style=hidden


menuentry "gustoSX Live" {
  linux /live/vmlinuz-6.1.0-53-686-pae boot=live username=gustosx quiet splash
  initrd /live/initrd.img-6.1.0-53-686-pae
}

menuentry "gustoSX Live (Safe Graphics - If does not booting)" {
  linux /live/vmlinuz-6.1.0-53-686-pae boot=live username=gustosx quiet splash nomodeset
  initrd /live/initrd.img-6.1.0-53-686-pae
}

menuentry "gustoSX Live (Debug)" {
  linux /live/vmlinuz-6.1.0-53-686-pae boot=live username=gustosx quiet splash systemd.unit=multi-user.target
  initrd /live/initrd.img-6.1.0-53-686-pae
}

